In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
train_dataset = pd.read_csv('data/train.csv')

### Data preprocessing & Feature Engineering
Its always a good practice to go through the following checklists to preprocess our dataset
- Split the dataset into X (attributes) and y (label)
- Check if contains missing values
- Check if continuous attribute(s) contain any outliers
- Some misc properties of the dataset

In [3]:
train_dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

From the info object information, we can see that indeed the dataset contains missing values at the following column(s):
- Age
- Cabin

We will:
- apply **Imputer** with mean strategy to handle missing Age
- drop Cabin column since it is intuitively not useful in our analysis (as well as modeling)

In [5]:
from collections import Counter

most_common_embark = Counter(train_dataset['Embarked'].tolist()).most_common(1)[0][0]

In [6]:
most_common_embark

'S'

In [7]:
from collections import Counter

train_dataset['Embarked'].fillna(most_common_embark, inplace=True)

X = train_dataset[[
    'Sex',
    'Pclass', 
    'Age', 
    'SibSp',
    'Parch',
    'Fare',
    'Embarked'
]].values
y = train_dataset[['Survived']].values

In [8]:
from sklearn.impute import SimpleImputer

age_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
age_imputer_col = age_imputer.fit_transform(X[:, 2:3])
X[:, 2:3] = age_imputer_col

In [9]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

sex_encoder = LabelEncoder()
embarked_encoder = LabelEncoder()

X[:, 0] = sex_encoder.fit_transform(X[:, 0])
X[:, 6] = embarked_encoder.fit_transform(X[:, 6])
onehotencoder = OneHotEncoder(categorical_features = [0, 6])
X = onehotencoder.fit_transform(X).toarray()

# # Avoid dummy variables trap
X = X[:, 1:]

/Users/yimkh/python/bin/anaconda3/envs/kaggle-titanic/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:363: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/Users/yimkh/python/bin/anaconda3/envs/kaggle-titanic/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:385: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [10]:
# Prior to feature scaling
print(X[0])

# Apply feature scaling (a must if using neural network)
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

[ 1.    0.    0.    1.    3.   22.    1.    0.    7.25]

In [11]:
# After feature scaling
X[0]

array([ 0.73769513, -0.48204268, -0.30756234,  0.61583843,  0.82737724,
       -0.5924806 ,  0.43279337, -0.47367361, -0.50244517])

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

### Training model with Artificial Neural Network (ANN)
Summary:<br>
Accuracy: ~84%

In [13]:
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/Users/yimkh/python/bin/anaconda3/envs/kaggle-titanic/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [34]:
ann = Sequential()
ann.add(Dense(units=8, input_shape=(9,), activation='relu', kernel_initializer='uniform'))
ann.add(Dense(units=16, activation='relu', kernel_initializer='uniform'))
ann.add(Dense(units=1, activation='sigmoid', kernel_initializer='uniform'))

ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [35]:
ann.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 8)                 80
_________________________________________________________________
dense_5 (Dense)              (None, 16)                144
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 17
=================================================================
Total params: 241
Trainable params: 241
Non-trainable params: 0
_________________________________________________________________

In [36]:
ann.fit(X_train, y_train, batch_size=10, epochs=100, validation_data=(X_test, y_test))

Train on 712 samples, validate on 179 samples
Epoch 1/100
712/712 [==============================] - 0s 543us/step - loss: 0.6857 - acc: 0.6124 - val_loss: 0.6654 - val_acc: 0.6201
Epoch 2/100
712/712 [==============================] - 0s 297us/step - loss: 0.6173 - acc: 0.6152 - val_loss: 0.5594 - val_acc: 0.6201
Epoch 3/100
712/712 [==============================] - 0s 352us/step - loss: 0.5480 - acc: 0.6896 - val_loss: 0.5198 - val_acc: 0.8101
Epoch 4/100
712/712 [==============================] - 0s 236us/step - loss: 0.5234 - acc: 0.7879 - val_loss: 0.4982 - val_acc: 0.8436
Epoch 5/100
712/712 [==============================] - 0s 279us/step - loss: 0.5007 - acc: 0.8006 - val_loss: 0.4718 - val_acc: 0.8268
Epoch 6/100
712/712 [==============================] - 0s 379us/step - loss: 0.4798 - acc: 0.7935 - val_loss: 0.4551 - val_acc: 0.8212
Epoch 7/100
712/712 [==============================] - 0s 304us/step - loss: 0.4662 - acc: 0.7879 - val_loss: 0.4422 - val_acc: 0.8212
Epoch 8/100
712/712 [==============================] - 0s 254us/step - loss: 0.4581 - acc: 0.7907 - val_loss: 0.4343 - val_acc: 0.8156
Epoch 9/100
712/712 [==============================] - 0s 293us/step - loss: 0.4504 - acc: 0.7921 - val_loss: 0.4285 - val_acc: 0.8268
Epoch 10/100
712/712 [==============================] - 0s 268us/step - loss: 0.4464 - acc: 0.7949 - val_loss: 0.4261 - val_acc: 0.8324
Epoch 11/100
712/712 [==============================] - 0s 256us/step - loss: 0.4425 - acc: 0.8048 - val_loss: 0.4212 - val_acc: 0.8436
Epoch 12/100
712/712 [==============================] - 0s 258us/step - loss: 0.4373 - acc: 0.7935 - val_loss: 0.4195 - val_acc: 0.8380
Epoch 13/100
712/712 [==============================] - 0s 252us/step - loss: 0.4341 - acc: 0.7963 - val_loss: 0.4179 - val_acc: 0.8436
Epoch 14/100
712/712 [==============================] - 0s 261us/step - loss: 0.4311 - acc: 0.8034 - val_loss: 0.4183 - val_acc: 0.8380
Epoch 15/100
712/712 [==============================] - 0s 256us/step - loss: 0.4265 - acc: 0.8006 - val_loss: 0.4177 - val_acc: 0.8212
Epoch 16/100
712/712 [==============================] - 0s 258us/step - loss: 0.4249 - acc: 0.8062 - val_loss: 0.4184 - val_acc: 0.8268
Epoch 17/100
712/712 [==============================] - 0s 252us/step - loss: 0.4237 - acc: 0.8020 - val_loss: 0.4205 - val_acc: 0.8324
Epoch 18/100
712/712 [==============================] - 0s 272us/step - loss: 0.4193 - acc: 0.8104 - val_loss: 0.4199 - val_acc: 0.8324
Epoch 19/100
712/712 [==============================] - 0s 260us/step - loss: 0.4179 - acc: 0.8230 - val_loss: 0.4231 - val_acc: 0.8380
Epoch 20/100
712/712 [==============================] - 0s 255us/step - loss: 0.4163 - acc: 0.8146 - val_loss: 0.4227 - val_acc: 0.8380
Epoch 21/100
712/712 [==============================] - 0s 256us/step - loss: 0.4141 - acc: 0.8244 - val_loss: 0.4226 - val_acc: 0.8324
Epoch 22/100
712/712 [==============================] - 0s 262us/step - loss: 0.4131 - acc: 0.8132 - val_loss: 0.4234 - val_acc: 0.8380
Epoch 23/100
712/712 [==============================] - 0s 255us/step - loss: 0.4120 - acc: 0.8230 - val_loss: 0.4246 - val_acc: 0.8268
Epoch 24/100
712/712 [==============================] - 0s 266us/step - loss: 0.4104 - acc: 0.8202 - val_loss: 0.4254 - val_acc: 0.8324
Epoch 25/100
712/712 [==============================] - 0s 263us/step - loss: 0.4093 - acc: 0.8329 - val_loss: 0.4257 - val_acc: 0.8324
Epoch 26/100
712/712 [==============================] - 0s 257us/step - loss: 0.4084 - acc: 0.8272 - val_loss: 0.4261 - val_acc: 0.8380
Epoch 27/100
712/712 [==============================] - 0s 257us/step - loss: 0.4066 - acc: 0.8287 - val_loss: 0.4264 - val_acc: 0.8324
Epoch 28/100
712/712 [==============================] - 0s 247us/step - loss: 0.4052 - acc: 0.8301 - val_loss: 0.4272 - val_acc: 0.8268
Epoch 29/100
712/712 [==============================] - 0s 261us/step - loss: 0.4063 - acc: 0.8230 - val_loss: 0.4285 - val_acc: 0.8268
Epoch 30/100
712/712 [==============================] - 0s 261us/step - loss: 0.4044 - acc: 0.8301 - val_loss: 0.4290 - val_acc: 0.8268
Epoch 31/100
712/712 [==============================] - 0s 310us/step - loss: 0.4024 - acc: 0.8315 - val_loss: 0.4306 - val_acc: 0.8268
Epoch 32/100
712/712 [==============================] - 0s 339us/step - loss: 0.4016 - acc: 0.8315 - val_loss: 0.4318 - val_acc: 0.8268
Epoch 33/100
712/712 [==============================] - 0s 255us/step - loss: 0.4018 - acc: 0.8272 - val_loss: 0.4321 - val_acc: 0.8268
Epoch 34/100
712/712 [==============================] - 0s 230us/step - loss: 0.4001 - acc: 0.8244 - val_loss: 0.4334 - val_acc: 0.8212
Epoch 35/100
712/712 [==============================] - 0s 274us/step - loss: 0.4018 - acc: 0.8216 - val_loss: 0.4347 - val_acc: 0.8268
Epoch 36/100
712/712 [==============================] - 0s 331us/step - loss: 0.4001 - acc: 0.8315 - val_loss: 0.4340 - val_acc: 0.8268
Epoch 37/100
712/712 [==============================] - 0s 258us/step - loss: 0.3991 - acc: 0.8315 - val_loss: 0.4343 - val_acc: 0.8324
Epoch 38/100
712/712 [==============================] - 0s 317us/step - loss: 0.3975 - acc: 0.8258 - val_loss: 0.4363 - val_acc: 0.8380
Epoch 39/100
712/712 [==============================] - 0s 230us/step - loss: 0.3963 - acc: 0.8287 - val_loss: 0.4351 - val_acc: 0.8324
Epoch 40/100
712/712 [==============================] - 0s 235us/step - loss: 0.3958 - acc: 0.8343 - val_loss: 0.4359 - val_acc: 0.8436
Epoch 41/100
712/712 [==============================] - 0s 324us/step - loss: 0.3974 - acc: 0.8315 - val_loss: 0.4361 - val_acc: 0.8324
Epoch 42/100
712/712 [==============================] - 0s 295us/step - loss: 0.3964 - acc: 0.8301 - val_loss: 0.4363 - val_acc: 0.8436
Epoch 43/100
712/712 [==============================] - 0s 295us/step - loss: 0.3932 - acc: 0.8272 - val_loss: 0.4372 - val_acc: 0.8436
Epoch 44/100
712/712 [==============================] - 0s 309us/step - loss: 0.3934 - acc: 0.8329 - val_loss: 0.4388 - val_acc: 0.8436
Epoch 45/100
712/712 [==============================] - 0s 296us/step - loss: 0.3934 - acc: 0.8357 - val_loss: 0.4383 - val_acc: 0.8380
Epoch 46/100
712/712 [==============================] - 0s 288us/step - loss: 0.3929 - acc: 0.8258 - val_loss: 0.4391 - val_acc: 0.8380
Epoch 47/100
712/712 [==============================] - 0s 287us/step - loss: 0.3930 - acc: 0.8301 - val_loss: 0.4396 - val_acc: 0.8436
Epoch 48/100
712/712 [==============================] - 0s 248us/step - loss: 0.3916 - acc: 0.8329 - val_loss: 0.4406 - val_acc: 0.8436
Epoch 49/100
712/712 [==============================] - 0s 260us/step - loss: 0.3914 - acc: 0.8385 - val_loss: 0.4420 - val_acc: 0.8436
Epoch 50/100
712/712 [==============================] - 0s 292us/step - loss: 0.3927 - acc: 0.8329 - val_loss: 0.4428 - val_acc: 0.8436
Epoch 51/100
712/712 [==============================] - 0s 265us/step - loss: 0.3914 - acc: 0.8301 - val_loss: 0.4426 - val_acc: 0.8492
Epoch 52/100
712/712 [==============================] - 0s 259us/step - loss: 0.3912 - acc: 0.8315 - val_loss: 0.4431 - val_acc: 0.8380
Epoch 53/100
712/712 [==============================] - 0s 291us/step - loss: 0.3903 - acc: 0.8329 - val_loss: 0.4441 - val_acc: 0.8492
Epoch 54/100
712/712 [==============================] - 0s 260us/step - loss: 0.3897 - acc: 0.8287 - val_loss: 0.4457 - val_acc: 0.8492
Epoch 55/100
712/712 [==============================] - 0s 255us/step - loss: 0.3896 - acc: 0.8371 - val_loss: 0.4442 - val_acc: 0.8492
Epoch 56/100
712/712 [==============================] - 0s 298us/step - loss: 0.3886 - acc: 0.8399 - val_loss: 0.4452 - val_acc: 0.8492
Epoch 57/100
712/712 [==============================] - 0s 276us/step - loss: 0.3880 - acc: 0.8385 - val_loss: 0.4480 - val_acc: 0.8547
Epoch 58/100
712/712 [==============================] - 0s 304us/step - loss: 0.3898 - acc: 0.8371 - val_loss: 0.4465 - val_acc: 0.8492
Epoch 59/100
712/712 [==============================] - 0s 281us/step - loss: 0.3887 - acc: 0.8399 - val_loss: 0.4485 - val_acc: 0.8436
Epoch 60/100
712/712 [==============================] - 0s 335us/step - loss: 0.3898 - acc: 0.8427 - val_loss: 0.4484 - val_acc: 0.8492

Epoch 61/100
712/712 [==============================] - 0s 275us/step - loss: 0.3885 - acc: 0.8371 - val_loss: 0.4480 - val_acc: 0.8436
Epoch 62/100
712/712 [==============================] - 0s 245us/step - loss: 0.3874 - acc: 0.8399 - val_loss: 0.4484 - val_acc: 0.8492
Epoch 63/100
712/712 [==============================] - 0s 411us/step - loss: 0.3873 - acc: 0.8357 - val_loss: 0.4495 - val_acc: 0.8492
Epoch 64/100
712/712 [==============================] - 0s 289us/step - loss: 0.3890 - acc: 0.8385 - val_loss: 0.4520 - val_acc: 0.8492
Epoch 65/100
712/712 [==============================] - 0s 284us/step - loss: 0.3869 - acc: 0.8371 - val_loss: 0.4512 - val_acc: 0.8492
Epoch 66/100
712/712 [==============================] - 0s 288us/step - loss: 0.3861 - acc: 0.8385 - val_loss: 0.4505 - val_acc: 0.8492
Epoch 67/100
712/712 [==============================] - 0s 286us/step - loss: 0.3874 - acc: 0.8329 - val_loss: 0.4512 - val_acc: 0.8492
Epoch 68/100
712/712 [==============================] - 0s 268us/step - loss: 0.3860 - acc: 0.8357 - val_loss: 0.4525 - val_acc: 0.8436
Epoch 69/100
712/712 [==============================] - 0s 266us/step - loss: 0.3849 - acc: 0.8371 - val_loss: 0.4529 - val_acc: 0.8492
Epoch 70/100
712/712 [==============================] - 0s 294us/step - loss: 0.3853 - acc: 0.8385 - val_loss: 0.4537 - val_acc: 0.8436
Epoch 71/100
712/712 [==============================] - 0s 299us/step - loss: 0.3860 - acc: 0.8329 - val_loss: 0.4529 - val_acc: 0.8436
Epoch 72/100
712/712 [==============================] - 0s 393us/step - loss: 0.3853 - acc: 0.8385 - val_loss: 0.4522 - val_acc: 0.8492
Epoch 73/100
712/712 [==============================] - 0s 400us/step - loss: 0.3871 - acc: 0.8272 - val_loss: 0.4539 - val_acc: 0.8436
Epoch 74/100
712/712 [==============================] - 0s 329us/step - loss: 0.3861 - acc: 0.8357 - val_loss: 0.4570 - val_acc: 0.8324
Epoch 75/100
712/712 [==============================] - 0s 361us/step - loss: 0.3835 - acc: 0.8343 - val_loss: 0.4533 - val_acc: 0.8436
Epoch 76/100
712/712 [==============================] - 0s 298us/step - loss: 0.3853 - acc: 0.8385 - val_loss: 0.4544 - val_acc: 0.8492
Epoch 77/100
712/712 [==============================] - 0s 261us/step - loss: 0.3862 - acc: 0.8385 - val_loss: 0.4538 - val_acc: 0.8380
Epoch 78/100
712/712 [==============================] - 0s 247us/step - loss: 0.3847 - acc: 0.8301 - val_loss: 0.4535 - val_acc: 0.8436
Epoch 79/100
712/712 [==============================] - 0s 348us/step - loss: 0.3840 - acc: 0.8343 - val_loss: 0.4557 - val_acc: 0.8436
Epoch 80/100
712/712 [==============================] - 0s 288us/step - loss: 0.3843 - acc: 0.8357 - val_loss: 0.4542 - val_acc: 0.8436
Epoch 81/100
712/712 [==============================] - 0s 275us/step - loss: 0.3837 - acc: 0.8469 - val_loss: 0.4545 - val_acc: 0.8492
Epoch 82/100
712/712 [==============================] - 0s 247us/step - loss: 0.3851 - acc: 0.8371 - val_loss: 0.4557 - val_acc: 0.8380
Epoch 83/100
712/712 [==============================] - 0s 267us/step - loss: 0.3841 - acc: 0.8399 - val_loss: 0.4563 - val_acc: 0.8436
Epoch 84/100
712/712 [==============================] - 0s 309us/step - loss: 0.3835 - acc: 0.8357 - val_loss: 0.4558 - val_acc: 0.8436
Epoch 85/100
712/712 [==============================] - 0s 282us/step - loss: 0.3847 - acc: 0.8427 - val_loss: 0.4551 - val_acc: 0.8492
Epoch 86/100
712/712 [==============================] - 0s 266us/step - loss: 0.3837 - acc: 0.8399 - val_loss: 0.4546 - val_acc: 0.8492
Epoch 87/100
712/712 [==============================] - 0s 240us/step - loss: 0.3836 - acc: 0.8385 - val_loss: 0.4554 - val_acc: 0.8492
Epoch 88/100
712/712 [==============================] - 0s 255us/step - loss: 0.3843 - acc: 0.8455 - val_loss: 0.4544 - val_acc: 0.8436
Epoch 89/100
712/712 [==============================] - 0s 297us/step - loss: 0.3826 - acc: 0.8427 - val_loss: 0.4571 - val_acc: 0.8380
Epoch 90/100
712/712 [==============================] - 0s 261us/step - loss: 0.3841 - acc: 0.8357 - val_loss: 0.4558 - val_acc: 0.8380
Epoch 91/100
712/712 [==============================] - 0s 299us/step - loss: 0.3831 - acc: 0.8371 - val_loss: 0.4568 - val_acc: 0.8492
Epoch 92/100
712/712 [==============================] - 0s 232us/step - loss: 0.3822 - acc: 0.8371 - val_loss: 0.4569 - val_acc: 0.8436
Epoch 93/100
712/712 [==============================] - 0s 253us/step - loss: 0.3818 - acc: 0.8399 - val_loss: 0.4571 - val_acc: 0.8380
Epoch 94/100
712/712 [==============================] - 0s 281us/step - loss: 0.3835 - acc: 0.8357 - val_loss: 0.4559 - val_acc: 0.8380
Epoch 95/100
712/712 [==============================] - 0s 299us/step - loss: 0.3826 - acc: 0.8399 - val_loss: 0.4556 - val_acc: 0.8380
Epoch 96/100
712/712 [==============================] - 0s 292us/step - loss: 0.3824 - acc: 0.8329 - val_loss: 0.4538 - val_acc: 0.8436
Epoch 97/100
712/712 [==============================] - 0s 301us/step - loss: 0.3823 - acc: 0.8371 - val_loss: 0.4550 - val_acc: 0.8380
Epoch 98/100
712/712 [==============================] - 0s 238us/step - loss: 0.3823 - acc: 0.8413 - val_loss: 0.4553 - val_acc: 0.8492
Epoch 99/100
712/712 [==============================] - 0s 252us/step - loss: 0.3815 - acc: 0.8399 - val_loss: 0.4576 - val_acc: 0.8380
Epoch 100/100
712/712 [==============================] - 0s 266us/step - loss: 0.3822 - acc: 0.8343 - val_loss: 0.4546 - val_acc: 0.8380

In [17]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)

In [18]:
from sklearn.metrics import classification_report, confusion_matrix

cm = confusion_matrix(y_test, y_pred)
report = classification_report(y_test, y_pred)
print(cm)
print(report)

[[99 12]
 [21 47]]
              precision    recall  f1-score   support

           0       0.82      0.89      0.86       111
           1       0.80      0.69      0.74        68

   micro avg       0.82      0.82      0.82       179
   macro avg       0.81      0.79      0.80       179
weighted avg       0.81      0.82      0.81       179

### Train model with random forest

In [39]:
from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier(n_estimators=10)
random_forest.fit(X_train, y_train)

y_pred = random_forest.predict(X_test)

/Users/yimkh/python/bin/anaconda3/envs/kaggle-titanic/lib/python3.6/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [40]:
from sklearn.metrics import classification_report, confusion_matrix

cm = confusion_matrix(y_test, y_pred)
report = classification_report(y_test, y_pred)
print(cm)
print(report)

[[100  11]
 [ 21  47]]
              precision    recall  f1-score   support

           0       0.83      0.90      0.86       111
           1       0.81      0.69      0.75        68

   micro avg       0.82      0.82      0.82       179
   macro avg       0.82      0.80      0.80       179
weighted avg       0.82      0.82      0.82       179

### Save the ANN model (keras)

In [21]:
from keras.models import model_from_json

# serialize model to JSON
model_json = ann.to_json()
with open("model/arch.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
ann.save_weights("model/weights.h5")
print("Saved model to disk")
 
# later...
# load json and create model
# json_file = open('model.json', 'r')
# loaded_model_json = json_file.read()
# json_file.close()
# loaded_model = model_from_json(loaded_model_json)
# # load weights into new model
# loaded_model.load_weights("model.h5")
# print("Loaded model from disk")

Saved model to disk

### Classify the testing set for submission to Kaggle
ANN appear to perform better, hence we will use it to classify the survival for the testing set

In [22]:
validation_dataset = pd.read_csv('data/test.csv')
validation_dataset.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [23]:
validation_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

#### Transform input data into the format for model prediction

In [24]:
X_valid = validation_dataset[[
    'Sex',
    'Pclass', 
    'Age', 
    'SibSp',
    'Parch',
    'Fare',
    'Embarked'
]].values

fare_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

age_imputer_col = age_imputer.transform(X_valid[:, 2:3]) # No need to fit, just use it from train dataset
fare_imputer_col = fare_imputer.fit_transform(X_valid[:, 5:6])
X_valid[:, 2:3] = age_imputer_col
X_valid[:, 5:6] = fare_imputer_col

X_valid[:, 0] = sex_encoder.transform(X_valid[:, 0])
X_valid[:, 6] = embarked_encoder.transform(X_valid[:, 6])
X_valid = onehotencoder.transform(X_valid).toarray()

X_valid = X_valid[:, 1:] # Avoid dummy variables trap
X_valid = sc.transform(X_valid)

In [29]:
def map_sigmoid(prob):
    if prob < 0.5:
        return 0
    else:
        return 1
    
mapSigmoid = np.vectorize(map_sigmoid)

y_valid = random_forest.predict(X_valid)
y_valid = mapSigmoid(y_valid)

In [30]:
x_valid_passengerId = validation_dataset.PassengerId
y_valid_series = pd.Series(y_valid.reshape((418,)), name='Survived')

In [31]:
final_df = pd.concat([x_valid_passengerId, y_valid_series], axis=1)

In [32]:
final_df.to_csv('data/submission_v3.csv', index=False)